
html, body, .master-container, #sidebar, #map-container {
  height: 100%;
  margin: 0;
}

.master-container{
  display: flex;

}

/*#sidebar {
  background: #465362;
  width: 335px;
}*/

#map-container {
  flex-grow: 1;
}

.title {
  font-size: 40px;
  font-family: sans-serif;
  color: white;
  margin-left: 15px;
}

.city-title {
  font-size: 28px;
  font-family: sans-serif;
  font-style: italic;
  color: white;
  margin-left: 15px;
}

.subtitle {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  margin-left: 30px;
}

.text {
  font-size: 15px;
  font-family: sans-serif;
  color: white;
  margin-left: 30px;
}

/*#menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 70px;
    right: 30px;
    border-radius: 3px;
    width: 150px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
} */

/*#menu a {
    font-size: 40px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}

/*#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #82b874;
    color: #ffffff;
}

#menu a.active:hover {
    background: #6fa360;
}*/

#menu {
  background: #a6b2bf;
  color: #011936;
  opacity: 0.95;
  position: absolute;
  z-index: 1;
  top: 85px;
  right: 30px;
  border-radius: 10px;
  width: 250px;
  border: 3px solid #465362;
  border-style: dotted;
  font-family: sans-serif;
  margin-top: 5px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* show legends if nearest checkbox is checked */
input[type=checkbox]:checked~.legend {
  display: block;
}

.nav {
  z-index: auto; // how to get this to sit
}

.legend-labels {
  background-color: #a6b2bf;
  color: #011936;
  opacity: 0.95;
  font-family: sans-serif;
}

.legend {
  display: none;
}

.my-legend{
  top: 20px;
  left: 330px;
  background-color: white;
  width: 250px
  font-family: 'Gilroy-Regular', sans-serif;
  color: #011936;
  z-index: 1; // stack order
  }

  .my-legend .legend-title {
  text-align: left;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  font-weight: bold;
  font-size: 20px;
  }

  .my-legend .legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  list-style: none;
  font-size: 17px;
  }

  .my-legend .legend-scale ul li {
  font-size: 90%;
  list-style: none;
  margin-top: 5px;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 10px;
  }

 .my-legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 18px;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid #999;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Hidden by default */
    z-index: 3; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    border-radius: 10px;
    /*margin-top: 10%;
    margin-left: 28%;*/
    margin: 3% 30%; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 580px;
    min-width: 20%;
    /*height: auto; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  /* Add a  background color to the top navigation */
  .topnav {
    background-color: #011936;
    overflow: hidden;

  }

  /* style the nav bar  */
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 18px 16px;
    font-size: 20px;
    z-index: 2;
    text-decoration: none;
  }

  .topnav .navsub{
    margin-top: 4px;
  }

  /* add hover effect to about and sources */
  .navsub:hover {
    font-weight: bolder;
    cursor: pointer;
  }

  /* Make title of map bigger and bold */
  .topnav .navtitle {
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    padding: 16px 16px;
    color: white;
  }

  /* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 355px;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #465362;
  overflow-x: hidden;
  padding-top: 20px;
  font-family: sans-serif;
}

.subtitle-btn {
  padding: 3px 8px 6px 16px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 22px;
  font-style: italic;
  color: #ABB6C4;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
}
/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 20px;
  color: #ABB6C4;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #465362;
  color: #f1f1f1;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  padding-left: 15px;
  background-color: #5D6F83;
  color: #f1f1f1;
  padding-left: 8px;
  font-family: sans-serif;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  display: none;
  border: none;
  width:100%;
  text-align: left;
  outline: none;
}
.dropdown-container-open {
  padding-left: 15px;
  background-color: #5D6F83;
  color: #f1f1f1;
  padding-left: 8px;
  font-family: sans-serif;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  border: none;
  width:100%;
  text-align: left;
  outline: none;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
